{{> head}}
{{> navbar}}
<div class="row mw-100 m-0">
    <div class="col-6 d-flex justify-content-center align-items-center">
        <h1>Enjoy the moment</h1>
    </div>
    <div class="col-6 shadow p-3 mb-5 bg-white rounded">
        <img src="/assets/img/imageOne.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer}}  